

#content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

#greeting-container {
  margin-top: 20px;
}
body {
    background-color: rgb(203, 238, 255);
    }
#map {
  height: 75%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 75%;
  margin: auto;
  padding: 0;
}
